/* Default minimum width to zero to prevent issues later. */
* {
    min-width: 0;
}

body {
    background-color: #111111 !important;
    font-size: 14px;
    text-transform: inherit;
    letter-spacing: 0;
    line-height: 1.71429;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    color: white;
    font-family: Dosis-Bold;
    font-weight: unset;
}

a {
    color: #0091d4;
    font-family: Dosis-ExtraBold;
    font-weight: unset;
    text-decoration: none;
}

p { 
    color: white;
    font-family: Dosis-Regular;
    font-weight: unset;
}

pre {
    display: block;
    background-color: #222222;
    padding: 2px;
    padding-left: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    border-radius: 5px;
}

code {
    font-family: Dosis-Regular;
    color: white;
    background-color: #222222;
    padding: 2px;
}

ol {
    font-family: Dosis-Regular;
    color: white;
}

/* Page contents defaults. */
page-contents {
    display: block;
}

/* Site loader. */
#site-loader {
    position: fixed;
    z-index: 99999;
    display: block;
    width: 100%;
    height: 100%;

    transition: all 0.5s ease-in-out;
    transition-property: opacity;
}

#site-loader img {
    width: 16vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation bar. */
#navbar {
    position: fixed;
    display: block;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 24px;
    min-height: 64px;
    z-index: 999;
    padding: 10px;

    transition: all 0.2s ease-in-out;
    transition-property: background-color;
    background-color: transparent;
}

#navbar-media {
    float: left;
    padding: 5px 15px;
    margin-left: -15px;
}

#navbar-media img {
    height: 48px;
}

#nav-options {
    padding: 0px 15px;
    font-size: 17px;
    float: right !important;
}

@media (max-width: 992px) {
    #navbar {
        min-height: 32px;
    }
    
    #navbar-media {
        padding: 0px;
        margin-left: -15px;
        display: none;
    }
    
    #nav-options {
        padding: 0px 15px;
        font-size: 17px;
        float: none !important;
        width: 100%;
        margin: -15px;
    }

    #nav-options ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }
}

/* Define section sizes. */
.section {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    overflow: hidden;
}

.section.section-md {
    padding-top: 115px;
    padding-bottom: 72px;
}

@media (min-width: 992px) {
    .section.section-md {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

.section.section-lg {
    padding-top: 72px;
    padding-bottom: 72px;
}

@media (min-width: 992px) {
    .section.section-md {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.section.section-sm {
    padding-top: 72px;
    padding-bottom: 72px;
}

@media (min-width: 992px) {
    .section.section-sm {
        padding-top: 72px;
        padding-bottom: 72px;
    }
}

.section.section-xs {
    padding-top: 48px;
    padding-bottom: 48px
}

@media (min-width: 992px) {
    .section.section-xs {
        padding-top: 48px;
        padding-bottom: 48px
    }
}

/* Define container sizes. */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-xs {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .container-xs {
        width: 350px
    }
}

@media (min-width: 992px) {
    .container-xs {
        width: 570px
    }
}

@media (min-width: 1200px) {
    .container-xs {
        width: 770px
    }
}

.container-sm {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .container-sm {
        width: 550px
    }
}

@media (min-width: 992px) {
    .container-sm {
        width: 770px
    }
}

@media (min-width: 1200px) {
    .container-sm {
        width: 970px
    }
}

.container-lg {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .container-lg {
        width: 950px
    }
}

@media (min-width: 992px) {
    .container-lg {
        width: 1170px
    }
}

@media (min-width: 1200px) {
    .container-lg {
        width: 1470px
    }
}

.container-sole {
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding: 20px;
    border-radius: 7px;
}

/* Background colors. */
.bg-default {
    background-color: #111111 !important;
}

.bg-default-light {
    background-color: #1a1a1a !important;
}
.bg-stars {
    background-image: url('https://snipedalastor.github.io/assets/img/ui/background.webp') !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Background projects to add later. */

/* Text style tags. */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-large {
    font-size: large;
}

@media (max-width: 992px) {
    .text-large {
        font-size: medium !important;
    }
}

.text-light {
    color: white;
}

.text-secondary-light {
    color: rgba(255, 255, 255, 0.7) !important
}
.text-wrap-sm {
    max-width: 25%;
}
.text-wrap-md {
    max-width: 50%;
}
.text-wrap-lg {
    max-width: 75%;
}
@media (max-width: 992px) {
    .text-wrap-md {
        max-width: 75%;
    }
    .text-wrap-md {
        max-width: 100%;
    }
    .text-wrap-lg {
        max-width: 100%;
    }
}

/* Generic display options. */
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
}
.centered-block {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}
.list-column {
    padding-left: 0;
    list-style: none;
    margin-left: -5px
}
.list-column>li {
    display:table-column;
    padding-left: 5px;
    padding-right: 5px
}
.mobile-hidden {
    display: block;
}
@media (max-width: 992px) {
    .mobile-hidden {
        display: none !important;
    }
}
.margin-top-sm {
    margin-top: 25px;
}
.margin-top-md {
    margin-top: 50px;
}
.margin-top-lg {
    margin-top: 75px;
}
.bullet-list {
    list-style-type: circle;
    color: white;
}

/* Img options. */
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-responsive2 {
    display: block;
    max-width: 87.5%;
    height: auto;
}

.img-responsive3 {
    display: block;
    max-width: 75%;
    height: auto;
}

.img-responsive4 {
    display: block;
    max-width: 62.5%;
    height: auto;
}

.img-responsive5 {
    display: block;
    max-width: 50%;
    height: auto;
}

.img-responsive6 {
    display: block;
    max-width: 37.5%;
    height: auto;
}

.img-responsive7 {
    display: block;
    max-width: 25%;
    height: auto;
}

.img-responsive8 {
    display: block;
    max-width: 12.5%;
    height: auto;
}

@media (max-width: 992px) {
    .img-responsive {
        display: block;
        max-width: 112.5%;
        height: auto;
    }

    .img-responsive2 {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .img-responsive3 {
        display: block;
        max-width: 87.5%;
        height: auto;
    }

    .img-responsive4 {
        display: block;
        max-width: 75%;
        height: auto;
    }

    .img-responsive5 {
        display: block;
        max-width: 62.5%;
        height: auto;
    }

    .img-responsive6 {
        display: block;
        max-width: 50%;
        height: auto;
    }

    .img-responsive7 {
        display: block;
        max-width: 37.5%;
        height: auto;
    }

    .img-responsive8 {
        display: block;
        max-width: 25%;
        height: auto;
    }
}

/* Animations */
@keyframes waving {
    0% {
        transform: rotate(0deg) scale(50%);
    }

    50% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.animations-waving {
    display: block;
    animation: waving 5s;
}

@keyframes waving-continuous {
    0% {
        transform: rotate(0deg) scale(100%);
    }

    50% {
        transform: rotate(1deg) scale(105%);
    }

    75% {
        transform: rotate(-0.5deg) scale(107%);
    }

    100% {
        transform: rotate(0deg) scale(100%);
    }
}

.animations-wavingcon {
    display: block;
    animation: waving-continuous 8s infinite;
}

@keyframes border-hover {
    0% {
        outline: #1a1a1a solid 5px;
        box-shadow: 0 0 10px 5px #1a1a1a;
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -15px);
    }

    100% {
        outline: #1a65ac solid 5px;
        box-shadow: 0 0 10px 5px #1a65ac;
        transform: translate(0px, 0px);
    }
}

.animations-borderhover:hover {
    animation: border-hover 0.5s forwards;
}

/* Button styles. */
.btn {
    padding: 8px 35px;
    background-color: #2b90e2;
    border: 5px solid #000;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    box-shadow: 
        inset 4px 4px 0 #16b5ff
        inset -4px -4px 0 #0064a6
        0 0px 0px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    border: 5px solid #FFF;
}

/* Flex box styles. */
.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-row>* {
    margin: 5px;
}
.flex-row.small-flex-spacing>* {
    margin: 5px;
}

.flex-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-column.flex-size-limit-lg {
    max-width: 66%;
}
.flex-column.flex-size-limit-md {
    max-width: 50%;
}
.flex-column.flex-size-limit-sm {
    max-width: 40%;
}

/* Card styles. */
.card {
    position: relative;
    text-align: center;
    color: white;
    background-color: #1a1a1a;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    padding-left: 50px;
    padding-right: 50px;
}

.card.nopadding {
    padding-left: 0;
    padding-right: 0;
}

.card-media {
    padding-top: 24px;
    position: relative;
}

.card-media.cover {
    padding-top: 0;
    position: relative;
}

.card-media img {
    display: block;
    max-height: 50%;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.card-media.cover img {
    max-width: 100%;
}

.card-title {
    padding: 12px 16px 16px;
}

.card-title:last-child {
    padding-bottom: 12px;
}

.card-default {
    color: white;
    background-color: #1a1a1a;
}

.card-default-transparent {
    color: white;
    background-color: #1a1a1aa6;
}

/* Badge styles. */
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #303030;
    border-radius: 3px;
}

.badge-img {
    width: 32px !important;
    height: 32px !important;
}

.badge.badge-transparent {
    background-color: transparent;
}

/* Gallery Styles */
.gallery img {
    border-radius: 4px;
    cursor: pointer;
}
.gallery img:hover {
    animation: border-hover 0.5s forwards;
}
#image-view {
    z-index: 999999;
    display: none;
    transition: all 0.5s ease-in-out;
    transition-property: opacity;
}
#image-view-bg {
    background-color: #000;
    opacity: 50%;
    z-index: 999998;
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    transition-property: opacity;
}
#image-view-src {
    z-index: 999999;
    width: 75vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity;
    cursor: pointer;
}

/* Dropdown Styles. */
.dropdown {
    margin-top: 0px !important;
    width: 35vw;
    font-size: 1.17em;
}
@media (max-width: 992px) {
    .dropdown {
        width: 85vw;
    } 
}

.dropdown div.content {
    background-color: #1a1a1a;
    margin-top: 0;
    height: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: height 0.2s ease-out;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown h2.title {
    margin-top: 0px !important;
    margin-bottom: 0;
    padding: 8px 35px;
    background-color: #2b90e2;
    border: 5px solid #000;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    box-shadow: 
        inset 4px 4px 0 #16b5ff
        inset -4px -4px 0 #0064a6
        0 0px 0px rgba(0, 0, 0, 0.3);
}
.dropdown h2.title:hover {
    border: 5px solid #FFF;
}

/* UI Styles. */
.ui-hangar {
    color: white !important;
    background-color: #2b90e2;
    box-shadow: 
        inset 4px 4px 0 #16b5ff
        inset -4px -4px 0 #0064a6
        0 0px 0px rgba(0, 0, 0, 0.3);
}
.ui-github {
    color: white !important;
    background-color: #161b22 !important;
    box-shadow:
        inset 4px 4px 0 #3a3e43,
        inset -4px -4px 0 #0d1117,
        0 0px 0px rgba(0, 0, 0, 0.3) !important;
}